AI-Automation-Portfolio/Ticket-router/AI Customer Support Ticket Router.json
{
  "name": "AI Customer Support Ticket Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1ea40685-065d-4cb5-b5af-d40d615be3ad",
      "name": "Webhook",
      "webhookId": "c5cbd2f3-7173-454f-906d-0b351ddfa586"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": \"You are a customer support classifier. Classify this ticket into exactly one category: billing, technical, or general.\\nReply in JSON only: {\\\"category\\\": \\\"billing\\\", \\\"reason\\\": \\\"one sentence\\\"}\\n\\nTicket from: \" + $json.body.name + \"\\nMessage: \" + $json.body.message}] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "361dc0e2-be04-480e-aa5d-af22e6c718a1",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ULhgpe6YXewKnp3b",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(cleaned);\nreturn [{\n  json: {\n    category: parsed.category.toLowerCase(),\n    reason: parsed.reason,\n    name: $('Webhook').first().json.body.name,\n    message: $('Webhook').first().json.body.message,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "93571d0c-9ba2-4df0-887b-f4e04d6f8b1e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3c61c8b9-d815-4e95-adef-82c92025f21f",
              "leftValue": "={{ $json.category }}",
              "rightValue": "billing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "3b37e2cb-0b52-45c0-8372-1e3de554f6be",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BmVdxOUXwYBXRU0vCtyssLurxAqNOyhMk_Lyt7vQIHU",
          "mode": "list",
          "cachedResultName": "Billing Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BmVdxOUXwYBXRU0vCtyssLurxAqNOyhMk_Lyt7vQIHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BmVdxOUXwYBXRU0vCtyssLurxAqNOyhMk_Lyt7vQIHU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $json.name }}",
            "Message": "={{ $json.message }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -96
      ],
      "id": "4a921d61-06e4-4481-a642-05da789aed04",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XFRiXUwZUgPGwFIG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8154fce2-0c34-430f-9b68-7c7d4d8c530d",
              "leftValue": "={{ $json.category }}",
              "rightValue": "technical",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        16
      ],
      "id": "6268b042-7d17-419e-b93e-e022266bafce",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QQY1URHC7u4Kqn4kai6nZzykpcP5mDuGxrPy2MEol9w",
          "mode": "list",
          "cachedResultName": "Technical Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QQY1URHC7u4Kqn4kai6nZzykpcP5mDuGxrPy2MEol9w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QQY1URHC7u4Kqn4kai6nZzykpcP5mDuGxrPy2MEol9w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $json.name }}",
            "Message": "={{ $json.message }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -192
      ],
      "id": "5a4425f2-5f50-4af6-8437-36a030f83c76",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XFRiXUwZUgPGwFIG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_ix0dFLwWueKnlAB2K72htI1TonRjnzCbDxqm1StKDs",
          "mode": "list",
          "cachedResultName": "General Tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_ix0dFLwWueKnlAB2K72htI1TonRjnzCbDxqm1StKDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_ix0dFLwWueKnlAB2K72htI1TonRjnzCbDxqm1StKDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ticket ID": "={{ $json.name }}",
            "Message": "={{ $json.message }}",
            "Timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ticket ID",
              "displayName": "Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        0
      ],
      "id": "5bbde86e-5b18-4a66-9abc-5582f808fe15",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XFRiXUwZUgPGwFIG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "928256055",
        "text": "=New billing ticket from {{ $json[\"Ticket ID\"] }}: {{ $json[\"Message\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -192
      ],
      "id": "da1c6757-2cd8-452d-83f3-8f010f518210",
      "name": "Send a text message",
      "webhookId": "59dc5f6c-5abc-458c-bcb9-d762fb312461",
      "credentials": {
        "telegramApi": {
          "id": "s44xw2xToPcFetey",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "928256055",
        "text": "=New technical ticket from {{ $json[\"Ticket ID\"] }}: {{ $json[\"Message\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        -192
      ],
      "id": "4f12ce2f-ad35-4104-af84-ea1fdd129696",
      "name": "Send a text message1",
      "webhookId": "7ed5aee1-0e0d-461c-a8a2-0335121b6db6",
      "credentials": {
        "telegramApi": {
          "id": "s44xw2xToPcFetey",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "928256055",
        "text": "=New general ticket from {{ $json[\"Ticket ID\"] }}: {{ $json[\"Message\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        0
      ],
      "id": "b12f4770-8a6a-4f12-97f6-8474cbae6a53",
      "name": "Send a text message2",
      "webhookId": "3d267025-55e1-40f0-b21d-2b24ea635496",
      "credentials": {
        "telegramApi": {
          "id": "s44xw2xToPcFetey",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ef67140a-a8ca-45b1-9676-db4b895c0cfc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90268d0b7c4898cceb62d693b3183df9e892476343b69e07fd6d07615e72507c"
  },
  "id": "Sldn8eHthkk6xx9X",
  "tags": []
}