AI-Automation-Portfolio/Email-classifier/email-classifier.json
{
  "name": "email-classifier",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IyC2Surt1q-PRcV-LyOJt7A1wHcTXRVb1h4IbLgzK24",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IyC2Surt1q-PRcV-LyOJt7A1wHcTXRVb1h4IbLgzK24/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IyC2Surt1q-PRcV-LyOJt7A1wHcTXRVb1h4IbLgzK24/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "GAURI",
            "EMAIL": "gauridawar2003@gmail.com",
            "MESSAGE": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MESSAGE",
              "displayName": "MESSAGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        0
      ],
      "id": "288d22a1-5e04-43f9-a6dc-b99c52251679",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XFRiXUwZUgPGwFIG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Classify this email into ONLY one word: urgent, normal, or spam. Email: {{$json[\\\"body\\\"][\\\"email\\\"]}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b78a55cc-7007-4d7d-8dd0-41f061df3a3e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-classifier",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "40090685-dc2e-4da1-929d-ccd7fcd19d93",
      "name": "Webhook",
      "webhookId": "aba46e49-6829-4a7c-b696-c6c7be198b05"
    }
  ],
  "pinData": {},
  "connections": {
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5706c772-2665-4d96-9d98-23fff09d2135",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90268d0b7c4898cceb62d693b3183df9e892476343b69e07fd6d07615e72507c"
  },
  "id": "rGwlsqRlMqAQZoC8",
  "tags": []
}